{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        
        {% if latest_question %}
            <ul>
                {% for msg in latest_question %}
                    <li><a href="/messages/{{ msg.id }}/">{{ msg.message_text }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No messages are available :(</p>
        {% endif %}
        <div>
            <h2>Add message:</h2>
            <form id="message_form" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" value="Add Message" class ="btn btn-primary" />
            </form>
        </div>
        <div>
            <h2>This is a insecure form, granting direct SQL database access</h2>
            <form id="sql_injection_form" action="injection_post/" method="POST">
                {% csrf_token %}
                <input type="text" id="message" name="message">
                <input type="submit" name="submit" value="Add Message" class ="btn btn-primary" />
            </form>
        </div>
        
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}